* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    margin: 0px;
    padding: 0px;
}

.cuerpo {
    min-height: 100vh !important;
    position: absolute !important;
    width: 100% !important;
    margin: auto !important;
    display: flex !important;
    flex-direction: column !important;
    background-color: #20364b;
}

.mw-full {
    max-width: 100%;
}

.header {
    padding: 20px 0 0;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}


.container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.subs {
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 7fr;

}

.logo {
    width: 100%;
    display: grid;
    align-items: center;
    margin: 0px 0 0
}

.logo img {
    margin: 0px 0 0 0px;
    padding: 0px;
    width: 150px;
    text-align: left;
}

.navbar {
    display: grid;
    grid-template-columns: 6fr 5fr 0.5fr;
    align-items: center;
}

.nav span {
    font-size: 20px;
    color: #fdc11f;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
}


.nav-links {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

li {
    color: #fff;
    font-size: 16px;
    list-style: none;
}

.link-item {
    text-align: center;
    cursor: pointer;
    padding: 0 0px;
    display: block
}

.link-item:hover {
    color: #fdc11f;

}

.dropdown {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 0;
    list-style: none;
    margin: 0px;
    top: 100%;
}

.dropdown li {
    display: block;
    width: 140px;
}

.div_drop {
    text-align: center;
    display: inline-block;
    position: relative;
}

.div_drop:hover .dropdown {
    display: block;

}

.dropdown .link-item {
    text-align: left;
    margin: 0 0 0 0px;
    padding: 2px 0 2px 7px;
}

.buscador {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.buscador span {
    background-color: #fdc11f;
    position: absolute;
    color: #20364b;
    font-size: 24px;
    top: 22px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    transition: .5s;
}


.btn-search {
outline: none;
width: 0px;
padding: 0 0px 0 0px;
border-radius: 15px;
border: 1px solid #fdc11f;
height: 30px;
border-width: 0px;
font-size: 15px;
transition: all .7s ease;
}

.buscador:hover .btn-search {
    width: 200px;
    padding: 0 30px 0 15px;
    border-width: 2px;
}
.buscador:hover span {
    transform: rotate(-360deg);

}

.column2 {
    margin: auto;

}

h5 {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 300;
    margin: 0 70px 0 0;
}

.bold {
    font-weight: 900;
    font-size: 52px;
    line-height: 55px;
    margin: 65px 0px 15px 0;
    color: #ffffff;
}

.bold span {
    color: #fdc11f;

}

.form1 {
    max-width: 500px;
    margin: 0 0;
    margin-top: 0px;
    padding: 25px 0px 0 0;
    position: relative;
}

.form1_input,
.form1_submit,
.form1_textarea {
    display: block;
    width: 100%;
}

.form1_input:focus {
    outline: 1px solid;
}

.form1_textarea:focus {
    outline: 1px solid;
}

.form1_input {
    font-size: 15px;
    padding: 10px 0 10px 20px;
    line-height: 18px;
    max-width: 330px;
    height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #adadad;
    margin: 25px 0 0px 0;
    font-weight: 400;
}

.form1_textarea {
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    line-height: 18px;
    max-width: 340px;
    min-height: 50px;
    max-height: 180px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #adadad;
    margin: 25px 0 0 0;
    font-weight: 400;
}


.form1_submit {
    padding: 0px 0px 0 20px;
    font-size: 15px;
    line-height: 18px;
    max-width: 94px;
    height: 40px;
    margin: 25px 0 0;
    border-radius: 20px;
    background-color: #fdc11f;
    color: #20364b;
    border: none;
    cursor: pointer;
    text-align: left;
    position: relative;
    font-weight: 400;
}

.form1_submit span {
    font-size: 12px;
    font-weight: 400;

}
.form1_submit:hover {
    background: #20364b;
    box-shadow:  0 0 5px black;
    padding-right: 15px;
    color: #fdc11f;
    transition: all .3s;
    max-width: 100px;
    width: 100px;

}
.form1_submit:hover span {
    position: absolute;
    right: 15px;
    display: inline-block;
}


.button-menu {
    display: none;

}

.error {
    color: red;
    font-size: 15px;
    line-height: 18px;
    margin: 5px 0 0 10px;
}

@media only screen and (max-width: 900px) {

    .navbar {
        grid-template-columns: 3fr 3fr 50px;
        justify-items: end;
    }

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-left: -100%;
        transition: all .2s linear;
        background-color: rgb(255 255 255 / 85%);
        z-index: 100;
        grid-template-columns: 1fr;

    }

    .main-nav.show {
        margin-left: 0;

    }


    .div_drop:hover .dropdown {
        top: 0;
        position: relative;
    }

    .nav-links {
        display: grid;
        width: 100%;
        padding: 30px 20% 0px 10%;
        grid-template-columns: 1fr;


    }

    .link-item {
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        color: #000;
        text-align: left;

    }

    .link-item:after {
        position: absolute;
        content: "";
        background-color: black;
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 3px;
        transition: 0.5s ease all;

    }
    
    .button-menu {
        z-index: 200;
        width: 35px;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

    }

    .button-menu span {
        width: 35px;
        height: 2px;
        margin-bottom: 7px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: all .2s linear;

    }

    .button-menu.close span:first-child {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #000;
    }
    .button-menu.close span:nth-child(2) {
        visibility: hidden;
    }
    .button-menu.close span:last-child {
        opacity: 1;
        transform: rotate(-45deg) translate(0px, 0px);
        background: #000;
    }

    .search-icon span {
        line-height: 1;
    }

    .bold {
    margin: 35px 0 15px;
    }
    .subs {
        grid-template-columns: 1fr;

    }
    .buscador {
        justify-content: flex-start;
        align-items: center;
    }
    .buscador span {
        position: relative;
        top: 0;
        right: 0;
    }

    .buscador:hover .btn-search {
        padding: 0 10px 0 15px;
        width: 200px;
    }



    .form1 {
        padding: 5px 0 0;

    }
    .form1_input {
        max-width: 100%;
    }

    .form1_textarea {
        max-width: 100%;
    }



}